<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>getPath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31584E001FBA072F00E749CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31584E111FBA072F00E749CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31584E1C1FBA072F00E749CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
